/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Body and text styles */
body {
    background-image: url('lib.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: white; 
    background-color: white; 
    padding-left: 5px;
    padding-right: 5px;
}

.post-container {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    border-radius: 5px;
    max-width: 600px;
    margin: 10px auto;
    color: white; /* Ensures white text */
}

.content-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    justify-content: flex-start; /* Align items to the start of the container */
}

.text-content {
    flex: 1; /* Allows the text container to fill up the remaining space */
}

.navbar {
  background-color: transparent;
  color: white;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: white;
}




