/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Body and text styles */
body {
    background-image: url('img2.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    color: white; 
    background-color: white; 
}

.content-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Distribute space between the elements */
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    max-width: 1000px; /* Set a max width */
    margin: 10px auto; /* Center the container */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.content-container img {
    border-radius: 50%;
    width: 100px; /* Define the size of the image */
    height: auto;
    margin-right: 10px;
}

/* Adjusting the right text content */
.right-text {
    text-align: left;
}

/* Responsive design */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .content-container img {
        margin: 0 auto 20px auto; /* Center the image on small screens */
    }
}

.navbar {
    background-color: transparent; /* Makes the navbar background transparent */
    color: white; /* Ensures text is visible, adjust as needed */
}

.navbar a {
    color: white; /* Sets the color of links to white for visibility */
}

.navbar a:hover {
    color: #ccc; /* Lighter gray for hover effect, adjust as needed */
}













